<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Title</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="assets/icons/favicon_32px.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/icons/favicon_32px.png">
	<link rel="apple-touch-icon" sizes="128x128" href="assets/icons/favicon_128px.png">


	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

<div id="tapTatti" class="position-relative">
	<nav class="tatti_nav d-lg-block d-none">
		<div class="tatti_nav__top">
			<div class="container tatti_flex_start">
				<a href="/">
					<img src="/assets/images/logo.png" alt="logo" class="logo" >
				</a>
				<div class="tatti_flex_center tatti_nav__menu">
					<ul class="tatti_flex_center mb-0">
						<li class="tatti_nav__link"><a href="/">Магазин</a></li>
						<li class="tatti_nav__link"><a href="/">Акции</a></li>
						<li class="tatti_nav__link"><a href="/">Блоги</a></li>
						<li class="tatti_nav__link"><a href="/">О нас</a></li>
						<li class="tatti_nav__link"><a href="/">Контакты</a></li>
					</ul>
					<div class="tatti_flex_center">
						<div>
							<img src="/assets/icons/pin.svg" alt="pin" class="pin">
							<select class="tatti_nav__select">
								<option selected value="Нур-Султан">Нур-Султан</option>
								<option value="Алматы">Алматы</option>
								<option value="Шымкент">Шымкент</option>
							</select>
						</div>
						<div class="tatti_nav__lang">
							<select class="tatti_nav__select">
								<option selected value="Рус">Рус</option>
								<option value="Каз">Каз</option>
							</select>
						</div>
						<div class="nav_tooltip" >
							<div class="nav_user tatti_flex_center" @click.stop="toggleMenu('user')">
								<div class="nav_user_img"></div>
								<div class="nav_user__bonuses">
									<span>250</span>
									бонусы
								</div>
							</div>
							<span class="nav_tooltip__content_user" v-if="userMenu" v-click-outside="closeUserMenu">
                                    <ul class="nav_user_menu">
                                        <li><a href="/"><img src="/assets/icons/menu_profile.svg" alt="profile"> Профиль</a></li>
                                        <li><a href="/"><img src="/assets/icons/menu_settings.svg" alt="settings"> Настройки</a></li>
                                        <li><a href="/"><img src="/assets/icons/menu_exit.svg" alt="exit"> Выход</a></li>
                                    </ul>
                                </span>
						</div>
						<div class="nav_tooltip" >
							<div class="nav_cart" @click.stop="toggleMenu('cart')">
								<span class="nav_cart__count">10</span>
							</div>
							<span class="nav_tooltip__content_cart" v-if="cartMenu" v-click-outside="closeCartMenu">
                                    <ul class="cart_list">
                                        <li class="cart_item">
                                            <div class="tatti_flex_start">
                                                <div class="cart_product">
                                                    <img src="/assets/images/cart_product.png" alt="product" class="cart_product_img">
                                                    <span><img src="/assets/icons/clock.svg" alt="clock"></span>
                                                </div>
                                                <div class="cart_item__info">
                                                    <h5>Whoopie</h5>
                                                    <p> Традиционное тесто, 30 см, сырный борт Традиционное тесто, 30 см, сырный борт</p>
                                                </div>
                                                <img src="/assets/icons/delete.svg" alt="delete" class="cart_delete">
                                            </div>
                                            <div class="tatti_flex_start cart_add_more">
                                                <div class="cart_count_buttons tatti_flex_center">
                                                    <button>-</button>
                                                    <span>1</span>
                                                    <button>+</button>
                                                </div>
                                                <div class="cart_price">
                                                    2700 ₸
                                                </div>
                                            </div>
                                        </li>
                                        <li class="cart_item">
                                            <div class="tatti_flex_start">
                                                <div class="cart_product">
                                                    <img src="/assets/images/cart_product1.png" alt="product" class="cart_product_img">

                                                </div>
                                                <div class="cart_item__info">
                                                    <h5>Медовый</h5>
                                                    <p> Ароматные, тонкие коржи на основе Ароматные, тонкие коржи на основе</p>
                                                </div>
                                                <img src="/assets/icons/delete.svg" alt="delete" class="cart_delete">
                                            </div>
                                            <div class="tatti_flex_start cart_add_more">
                                                <div class="cart_count_buttons tatti_flex_center">
                                                    <button>-</button>
                                                    <span>1</span>
                                                    <button>+</button>
                                                </div>
                                                <div class="cart_price">
                                                    3000 ₸
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="cart_footer">
                                        <div class="cart_delivery_status tatti_flex_center">
                                            <img src="/assets/icons/delivery.svg" alt="delivery">
                                            <span>Статус доставки</span>
                                        </div>
                                        <div class="cart_delivery_status__price tatti_flex_center">
                                            Сумма заказа <span> 3000 ₸</span>
                                        </div>
                                        <button class="cart_confirm_order">Оформить заказ</button>
                                        <div class="cart_bonuses">
                                            Начислится <span class="cart_bonuses__count">710</span> <span class="cart_bonuses__text">бонусов</span>
                                        </div>
                                    </div>
                                </span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="nav_scroll" id="lol">
			<ul class="container tatti_flex_start">
				<li><a href="/">Торты</a></li>
				<li><a href="/">Пироги</a></li>
				<li><a href="/">Выпечка</a></li>
				<li><a href="/">Пирожное</a></li>
				<li><a href="/">Печенье</a></li>
				<li><a href="/">Полуфабрикаты</a></li>
				<a class="phone-top" href="/"><img src="assets/icons/phone-top.svg" alt=""><p>+7 (777) 111 22 33</p></a>
			</ul>
		</div>
	</nav>
	<div class="top-line d-block d-lg-none">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3 col-8 order-lg-1 order-2">
					<a href="/" class="brand">
						<div class="brand-img">
							<img src="assets/images/logo.png" alt="logo" class="img-fluid">
						</div>
						<!-- /.brand-img -->

					</a> <!-- /.brand -->
				</div>
				<!-- /.col-lg-3 -->
				<div class="col-lg-8 col-2 order-lg-2 order-1">
					<nav class="main-menu d-lg-block d-none">

						<ul>
							<div class="nav_tooltip" >
								<div class="nav_user tatti_flex_center" @click.stop="toggleMenu('user')">
									<div class="nav_user_img"></div>
									<div class="nav_user__bonuses">
										<span>250</span>
										бонусы
									</div>
								</div>
								<span class="nav_tooltip__content_user" v-if="userMenu" v-click-outside="closeUserMenu">
                                    <ul class="nav_user_menu">
                                        <li><a href="/"><img src="/assets/icons/menu_profile.svg" alt="profile"> Профиль</a></li>
                                        <li><a href="/"><img src="/assets/icons/menu_settings.svg" alt="settings"> Настройки</a></li>
                                        <li><a href="/"><img src="/assets/icons/menu_exit.svg" alt="exit"> Выход</a></li>
                                    </ul>
                                </span>
							</div>
							<div class="d-flex justify-content-between mt-5">
								<div class="ml-25 align-items-center">
									<img src="/assets/icons/pin.svg" alt="pin" class="pin">
									<select class="tatti_nav__select">
										<option selected value="Нур-Султан">Нур-Султан</option>
										<option value="Алматы">Алматы</option>
										<option value="Шымкент">Шымкент</option>
									</select>
								</div>
								<div class="tatti_nav__lang">
									<select class="tatti_nav__select">
										<option selected value="Рус">Рус</option>
										<option value="Каз">Каз</option>
									</select>
								</div>
							</div>
							<a class="phone-top" href="/"><img src="assets/icons/phone-call.svg" alt=""><p>+7 (777) 111 22 33</p></a>
							<li><a href="index.html">Магазин</a></li>
							<li><a href="news.html">Акции</a></li>
							<li><a href="services.html">Блоги</a></li>
							<li><a href="about.html">О нас</a></li>
							<li><a href="contacts.html">Контакты</a></li>
							<li><button class="btn btn-menu--history"><img src="assets/icons/clock-menu.svg" alt=""> История заказов</button></li>
							<li><button class="btn btn-menu--trash"><img src="assets/icons/cart.svg" alt=""> Корзина</button></li>
						</ul>

					</nav>
					<div class="hamburger-wrapper d-block d-lg-none">
						<button class="hamburger hamburger--collapse" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
					<!-- /.hamburger-wrapper -->

				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-1 col-2 order-lg-3 order-3">
					<div class="top-line_phone">
						<!-- <a href="tel:+77273854753" class="d-lg-block d-none"><i class="fa fa-phone"></i> +7 (727) 385 47 53</a> -->
						<!--						<a href="https://wa.me/77078466760" target="_blank" class="mobile-phone"><i class="fa fa-whatsapp"></i></a>-->
						<img src="assets/icons/shopping-cart.svg" alt="made in kz" class="img-responsive" width="100">
					</div>
					<!-- /.top-line_phone -->
				</div>
				<!-- /.col-lg-3 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
		<div class="nav_scroll">
			<ul class="container tatti_flex_start">
				<li><a href="/">Торты</a></li>
				<li><a href="/">Пироги</a></li>
				<li><a href="/">Выпечка</a></li>
				<li><a href="/">Пирожное</a></li>
				<li><a href="/">Печенье</a></li>
				<li><a href="/">Полуфабрикаты</a></li>
			</ul>
		</div>
	</div>

	<div class="tatti_content">



		<div class="tatti_banner_carousel">
			<div class="tatti_banner banner_bg1">
				<div class="tatti_banner__info">
					<h1 class="tatti_banner__heading">Большой выбор тортов и выпечки</h1>
					<div class="tatti_flex_center tatti_banner__text">
						<img src="/assets/icons/banner_icon.svg" alt="banner_icon">
						<p class="tatti_banner__paragraph">Весь ассортимент приготовлен из <b>качественных</b> и <b>свежих</b> продуктов </p>
					</div>
					<button class="tatti_banner_btn">
						Наше меню
					</button>
				</div>
			</div>
			<div class="tatti_banner banner_bg2">
				<div class="tatti_banner__info">
					<h1 class="tatti_banner__heading">10% скидка при самовывозе </h1>
					<div class="tatti_flex_center tatti_banner__text">
						<img src="/assets/icons/banner_icon2.svg" alt="banner_icon">
						<p class="tatti_banner__paragraph">Удобно для тех кто едет по пути рядом с нашими точками</p>
					</div>
					<button class="tatti_banner_btn">
						Подробнее
					</button>
				</div>
			</div>
			<div class="tatti_banner banner_bg3">
				<div class="tatti_banner__info">
					<h1 class="tatti_banner__heading">Доставка по городу бесплатная</h1>
					<div class="tatti_flex_center tatti_banner__text">
						<img src="/assets/icons/banner_icon1.svg" alt="banner_icon">
						<p class="tatti_banner__paragraph">При заказе от 7000 ₸ бесплатная доставка в черте города!</p>
					</div>
					<button class="tatti_banner_btn">
						Подробнее
					</button>
				</div>
			</div>
		</div>
		<div class="tatti_menu_section d-none d-lg-block">
			<div class="menu_list tatti_flex_center">
				<a href="/" class="menu_box">
					<img src="/assets/icons/tort_icon.svg" alt="tort">
					Торты
				</a>
				<a href="/" class="menu_box">
					<img src="/assets/icons/pirog_icon.svg" alt="tort">
					Пироги
				</a>
				<a href="/" class="menu_box">
					<img src="/assets/icons/vipechka_icon.svg" alt="tort">
					Выпечка
				</a>
				<a href="/" class="menu_box">
					<img src="/assets/icons/cake_icon.svg" alt="tort">
					Пирожное
				</a>
				<a href="/" class="menu_box">
					<img src="/assets/icons/cookie_icon.svg" alt="tort">
					Печенье
				</a>
				<a href="/" class="menu_box">
					<img src="/assets/icons/polufab_icon.svg" alt="tort">
					Полуфабрикаты
				</a>
			</div>
			<div class="container menu_list_body">
				<h2 class="section_title">
					<span></span>
					Новинки
				</h2>
				<div class="menu_list_carousel">
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img1.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Торт Аррива <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">700 ₸</span></span>
							</div>
						</div>
					</div>
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img2.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Фруктовый пирог<br> с творогом <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">500 ₸</span></span>
							</div>
						</div>
					</div>
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img3.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Тирамису <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">800 ₸</span></span>
							</div>
						</div>
					</div>
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img1.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Торт Аррива <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">700 ₸</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tatti_menu_section d-block d-lg-none">
			<div class="container menu_section__mobile">
				<div class="row">
					<div class="col-6">
						<a href="/" class="menu_box">
							<img src="/assets/icons/tort_icon.svg" alt="tort">
							Торты
						</a>
					</div>
					<div class="col-6">
						<a href="/" class="menu_box">
							<img src="/assets/icons/pirog_icon.svg" alt="tort">
							Пироги
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<a href="/" class="menu_box">
							<img src="/assets/icons/vipechka_icon.svg" alt="tort">
							Выпечка
						</a>
					</div>
					<div class="col-6">
						<a href="/" class="menu_box">
							<img src="/assets/icons/cake_icon.svg" alt="tort">
							Пирожное
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<a href="/" class="menu_box">
							<img src="/assets/icons/cookie_icon.svg" alt="tort">
							Печенье
						</a>
					</div>
					<div class="col-6">
						<a href="/" class="menu_box">
							<img src="/assets/icons/polufab_icon.svg" alt="tort">
							Полу- <br> фабрикаты
						</a>
					</div>
				</div>
			</div>

			<div class="container menu_list_body">
				<h2 class="section_title">
					<span></span>
					Новинки
				</h2>
				<div class="menu_list_carousel">
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img1.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Торт Аррива <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">700 ₸</span></span>
							</div>
						</div>
					</div>
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img2.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Фруктовый пирог<br class="d-lg-block d-none"> с творогом <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">500 ₸</span></span>
							</div>
						</div>
					</div>
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img3.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Тирамису <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">800 ₸</span></span>
							</div>
						</div>
					</div>
					<div>
						<div class="menu_list_item tatti_flex_center">
							<img src="/assets/images/menu_img1.png" alt="menu">
							<div class="menu_list_item__right">
								<h6 class="menu_list_item__name">Торт Аррива <img src="/assets/icons/info.svg" alt="info"></h6>
								<span class="menu_list_item__bottom">от <span class="menu_list_item__price">700 ₸</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container product_section">
			<div class="product_section__left">
				<div class="product_section_list" v-for="(section,i) in sections" :key="i">
					<h2 class="product_section_title"><span></span> {{section.heading}}</h2>
					<div class="section_filters">
						<span v-for="(filter,index) in section.filters" :key="index">{{filter.name}}</span>
					</div>
					<div class="products_list">
						<div @click="showProduct(product)" class="product_box" v-for="(product,i) in section.products" :key="i" @click.stop="showModal = true; modalWindow = 1">
							<div class="product_head">
								<img :src="product.img" alt="product image">
								<div class="product_filters">
									<span v-for="(flag,i) in product.flags" :class="{hit: flag === 'Хит', new: flag==='Новинка'}">{{flag}}</span>
								</div>
							</div>
							<div class="product_body">
								<h6 class="menu_list_item__name product_name">{{product.name}}<img class="product_info" src="/assets/icons/info.svg" alt="info"></h6>
								<div class="tatti_flex_start cart_add_more product_buttons">
									<div class="product_count_buttons tatti_flex_center">
										<button @click.stop="product.count--">-</button>
										<span>{{product.count < 1 ? product.count = 1 : product.count}}</span>
										<button @click.stop="product.count++">+</button>
									</div>
									<div class="product_price" @click="showProduct(product)">
										{{product.price * product.count}} ₸
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="product_section__right">
				<div class="section_sticky">
					<div class="product_cart" >
						<div class="product_cart__head">
							<div class="tatti_flex_center">
								<div class="tatti_flex_center product_cart__name">
									<img src="/assets/icons/product_cart.svg" alt="cart">
									<h4>Корзина</h4>
									<span>2</span>
								</div>
								<img @click="clearCart" src="/assets/icons/trash.svg" alt="trash" class="product_trash">
							</div>
						</div>
						<div class="product_cart__body">
							<ul v-if="cart.length" class="cart_list">
								<li v-for="(product, index) in cart" :key="'cart_product-' + index" class="cart_item">
									<div class="tatti_flex_start">
										<div class="cart_product">
											<img :src="product.img" alt="product" class="cart_product_img">
											<span><img src="/assets/icons/clock.svg" alt="clock"></span>
										</div>
										<div class="cart_item__info">
											<h5>{{product.name}}</h5>
											<p> Традиционное тесто, 30 см, сырный борт Традиционное тесто, 30 см, сырный борт</p>
										</div>
										<img @click="removeFromCart(index)" src="/assets/icons/delete.svg" alt="delete" class="cart_delete">
									</div>
									<div class="tatti_flex_start cart_add_more">
										<div class="cart_count_buttons tatti_flex_center">
											<button @click.stop="product.count--">-</button>
											<span>{{product.count}}</span>
											<button @click.stop="product.count++">+</button>
										</div>
										<div class="cart_price">
											{{product.price * product.count}} ₸
										</div>
									</div>
								</li>
							</ul>
							<div v-else class="text-center">Выберите товар</div>
							<div class="cart_footer">
								<div class="cart_delivery_status tatti_flex_center">
									<img src="/assets/icons/delivery.svg" alt="delivery">
									<span>Статус доставки</span>
								</div>
								<div class="cart_delivery_status__price tatti_flex_center">
									Сумма заказа <span> 3000 ₸</span>
								</div>
								<button class="cart_confirm_order">Оформить заказ</button>
								<div class="cart_bonuses">
									Начислится <span class="cart_bonuses__count">710</span> <span class="cart_bonuses__text">бонусов</span>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="order_history">
                        <div class="order_history__head">
                            <div class="tatti_flex_center">
                                <div class="tatti_flex_center order_history__name">
                                    <img src="/assets/icons/history.svg" alt="clock">
                                    <h4>История заказов</h4>
                                </div>
                                <img src="/assets/icons/arrow_up.svg" alt="arrow up" class="dropwdown_icon">
                            </div>
                        </div>
                    </div> -->

				</div>

				<!-- <div class="btn_float">
                    <a href="/">
                        <img src="/assets/icons/social_media/whatsapp.svg" alt="wpp">
                    </a>
                </div> -->
				<transition name="fade">
					<div id="tattiModal" class="modal" v-if="showModal">
						<div class="container">
							<div class="modal-content" v-click-outside="hideProductModal">
								<span class="close_modal" @click="showModal = false"></span>
								<div class="modal_product tatti_flex_start" v-if="modalWindow === 1">
									<div class="modal_product__left">
										<div class="modal_product_img">
											<img v-if="selectedProduct && selectedProduct.img" :src="selectedProduct.img" alt="product">
										</div>
										<div class="modal_product__info">
											<h4 class="modal_product__info_name">
												Пищевая ценность на 100 г
											</h4>
											<ul class="modal_product__info_list ">
												<li><span class="modal_product__item_name">Энерг. ценность</span><span>289.00 ккал</span></li>
												<li><span class="modal_product__item_name">Белки</span><span>9.1 г</span></li>
												<li><span class="modal_product__item_name">Жиры</span><span>9.9 г</span></li>
												<li><span class="modal_product__item_name">Углеводы</span><span>30.3 г</span></li>
												<li><span class="modal_product__item_name">Вес</span><span>390 г</span></li>
												<li><span class="modal_product__item_name">Диаметр</span><span>25 см</span></li>
												<li><span class="modal_product__item_name">Высота</span><span> 8 - 8.5 см</span></li>
												<li><span class="modal_product__item_name">Срок хранения</span><span>5 дней </span></li>
												<li><span class="modal_product__item_name">Условия хранения</span><span>В холодильнике при температуре от +2 до +6 °С </span></li>
											</ul>
										</div>
									</div>
									<div class="modal_product__right">
										<h2 class="modal_product__name">{{selectedProduct.name}}</h2>
										<p class="modal_product__desc">Круглый торт, состоит из 2 слоев бисквита пропитанный кофейно-молочным сиропом, между слоями бисквита равномерно нанесен крем из творожного сыра.</p>
										<div class="tatti_flex_start">
											<span class="modal_product__sostav">Состав:</span>
											Яйцо, Сахар, Сметана, Сливочное масло, Ванильный сахар, Пшеничная мука, Крем безе, Банан.
										</div>
										<div class="tatti_flex_start modal__buttons">
											<div class="product_count_buttons tatti_flex_center">
												<button @click.stop="selectedProduct.count--">-</button>
												<span>{{selectedProduct.count}}</span>
												<button @click.stop="selectedProduct.count++">+</button>
											</div>
											<div class="modal_product__price">
												<span>Стоимость</span>
												{{selectedProduct.price * selectedProduct.count}} ₸
											</div>
										</div>
										<div class="modal_buttons__confirm tatti_flex_center">
											<button class="btn_buy">Купить сразу</button>
											<button @click="addToCart(selectedProduct)" class="btn_add_to_cart">Добавить в корзину</button>
										</div>
										<div class="modal_reviews">
											<div class="modal_reviews__head tatti_flex_center">
												<div class="tatti_flex_center">
													<h3>Отзывы</h3>
													<span>3</span>
													<button class="add_review_btn" @click.stop="modalWindow = 2">Написать</button>
												</div>
												<div class="modal_review__stars">
													<div class="stars" style="--rating: 4.5"></div>
												</div>
											</div>
											<div class="modal_review">
												<div class="tatti_flex_center">
													<h4>Макпал</h4>
													<div class="modal_review__stars">
														<div class="stars stars_small" style="--rating: 5"></div>
													</div>
												</div>
												<p>Очень вкусный торт! Советую всем! </p>
											</div>
											<div class="modal_review">
												<div class="tatti_flex_center">
													<h4>Света</h4>
													<div class="modal_review__stars">
														<div class="stars stars_small" style="--rating: 5"></div>
													</div>
												</div>
												<p>Ели всей семьей, все были в восторге!  </p>
											</div>
											<div class="modal_review">
												<div class="tatti_flex_center">
													<h4>Денис</h4>
													<div class="modal_review__stars">
														<div class="stars stars_small" style="--rating: 3"></div>
													</div>
												</div>
												<p>Кажется слишком сладко, но в целом круто... </p>
											</div>
										</div>
									</div>
								</div>
								<div class="modal_add_review tatti_flex_start" v-if="modalWindow === 2">
									<div class="modal_add_review__left">
									</div>
									<div class="modal_add_review__right">
										<div class="go_back tatti_flex_center" @click.stop="modalWindow--">
											<img src="/assets/icons/arr_left.svg" alt="back">
											Назад
										</div>
										<h2 class="modal_add_review__name">Написать отзыв</h2>
										<form action="POST" class="add_review_form">
											<input type="text" placeholder="Ваше Имя">
											<div class="modal_rating_stars">
												<fieldset class="rating">
													<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
													<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
													<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
													<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
													<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
													<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
													<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
													<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
													<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
													<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
												</fieldset>
												<span class="rating_label">Выберите кол-во звезд</span>
											</div>
											<textarea name="review" id="modalReview" cols="6" rows="8" placeholder="Ваш Отзыв"></textarea>
											<input type="submit" class="btn_submit_review" value="Отправить" @click.stop="modalWindow = 3">
										</form>
									</div>
								</div>
								<div class="modal_tq" v-if="modalWindow === 3">
									<div class="go_back tatti_flex_center" @click="modalWindow--">
										<img src="/assets/icons/arr_left.svg" alt="back">
										Назад
									</div>
									<div class="modal_tq__body">
										<div>
											<img src="/assets/icons/modal_stars.svg" alt="stars">
											<h2 class="title_tq">Спасибо!</h2>
											<p class="desc_tq">Ваш отвыз вскоре будет опубликован</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</transition>

			</div>
		</div>
	</div>

	<footer>
		<div class="container desktop">
			<div class="tatti_flex_start">
				<div>
					<h6>Tap Tatti</h6>
					<ul class="footer_links">
						<li><a href="/">О нас</a></li>
						<li><a href="/">Карьера</a></li>
						<li><a href="/">Блоги</a></li>
						<li><a href="/">Акции</a></li>
					</ul>
				</div>
				<div>
					<h6>Это интересно</h6>
					<ul class="footer_links">
						<li><a href="/">Встречаю гостей </a></li>
						<li><a href="/">Оформить свою продукцию </a></li>
						<li><a href="/">Абонемент</a></li>
					</ul>
				</div>
				<div>
					<h6>Мы принимаем оплату</h6>
					<img src="/assets/images/payment.png" alt="payment" class="footer_payment">
				</div>
				<div>
					<div class="tatti_flex_start">
						<img src="/assets/icons/phone-call.svg" alt="phone">
						<div class="footer_info">
							<a href="tel: +7 (777) 111 22 33" class="footer_phone">+7 (777) 111 22 33</a>
							<span>Бесплатно с мобильного</span>
							<button class="contact_btn">Обратная связь</button>
							<p>Права на публикуемые на сайте материалы принадлежат "Tap Tatti" © 2020</p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom tatti_flex_center">
				<div class="footer_social_media">
					<span class="footer_social footer_fb"></span>
					<span class="footer_social footer_insta"></span>
					<span class="footer_social footer_vk"></span>
					<span class="footer_social footer_youtube"></span>
					<span class="footer_social footer_telegram"></span>
				</div>
				<ul class="footer_bottom_links">
					<a href="/">Правовая информация</a>
					<a href="/">Калорийность и состав</a>
					<a href="/">Помощь</a>
				</ul>
				<img src="/assets/images/simplex.png" alt="simplex">
			</div>
		</div>
		<div class="container mobile">
			<div class="row">
				<div class="col-12">
					<div class="tatti_flex_start">
						<img src="/assets/icons/phone-call.svg" alt="phone">
						<div class="footer_info">
							<a href="tel: +7 (777) 111 22 33" class="footer_phone">+7 (777) 111 22 33</a>
							<span>Бесплатно с мобильного</span>
						</div>

					</div>
					<button class="contact_btn">Обратная связь</button>
				</div>
			</div>
			<div class="row my-4">
				<div class="col-5">
					<h6>Tap Tatti</h6>
					<ul class="footer_links">
						<li><a href="/">О нас</a></li>
						<li><a href="/">Карьера</a></li>
						<li><a href="/">Блоги</a></li>
						<li><a href="/">Акции</a></li>
					</ul>
				</div>
				<div class="col-7">
					<h6>Это интересно</h6>
					<ul class="footer_links">
						<li><a href="/">Встречаю гостей </a></li>
						<li><a href="/">Оформить свою продукцию </a></li>
						<li><a href="/">Абонемент</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h6>Мы принимаем оплату</h6>
					<img src="/assets/images/payment.png" alt="payment" class="footer_payment">
				</div>
			</div>
			<div class="row my-4">
				<div class="col-12">
					<div class="footer_social_media d-flex">
						<span class="footer_social footer_fb"></span>
						<span class="footer_social footer_insta"></span>
						<span class="footer_social footer_vk"></span>
						<span class="footer_social footer_youtube"></span>
						<span class="footer_social footer_telegram"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<ul class="footer_bottom_links">
						<a href="/">Правовая информация</a>
					</ul>
				</div>
				<div class="col-6">
					<ul class="footer_bottom_links">
						<a href="/">Калорийность и состав</a>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<ul class="footer_bottom_links">
						<a href="/">Помощь</a>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-7">
					<p class="footer-bot">Права на публикуемые на сайте материалы принадлежат "Tap Tatti" © 2020</p>
				</div>
				<div class="col-5">
					<img src="/assets/images/simplex.png" alt="simplex" class="img-fluid">
				</div>
			</div>
		</div>

	</footer>
</div>
<!--<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
<!--<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->

<script src="js/scripts.min.js"></script>


</body>
</html>
