@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .tatti_banner__heading
    font-size: 36px
  .tatti_banner__info
    width: 100%
    margin: 0 5% 0 10%
  .tatti_banner__paragraph
    font-size: 17px
  .slick-next, .slick-prev
    display: none !important
  .product_section__right
    display: none
  .product_section__left
    width: 100%
    text-align: center
    justify-content: center
  .product_section_title
    margin: 0 auto
  .product_section_title span
    display: none
  .products_list
    justify-content: center
  .product_name
    justify-content: center
  .desktop
    display: none
  .mobile
    display: block
  .tatti_flex_start
    justify-content: left
  footer
    padding: 54px 25px 35px
    background-image: url("../assets/images/footer_mobile_bg.jpg")
  .footer_phone
    font-size: 26px
  .footer_social
    margin-right: 7px
  .footer_bottom_links a
    margin-right: 18px
  .footer-bot
    font-size: 12px
    line-height: 18px
    letter-spacing: 0.035em
    color: #8F7170
  .menu_list_body
    padding-top: 30px
  .section_title span
    display: none
  .menu_list_item
    width: 100%
  .menu_list_body
    .slick-dots
      transform: translateY(130px)
      li
        button:before
          color: #4ABBC1!important
  .menu_list_item__bottom
    position: relative
  .banner_bg1, .banner_bg2, .banner_bg3
    background-size: cover
  .nav_scroll
    overflow-x: scroll
    padding: 22px 10px 11px
  .nav_scroll ul li:not(:first-child)::before
    display: none
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

