@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff


//	asd
@charset "UTF-8"

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)

*
	margin: 0
	padding: 0
	box-sizing: inherit

	&::after, &::before
		margin: 0
		padding: 0
		box-sizing: inherit

html
	scroll-behavior: smooth
	overflow-x: hidden

body
	box-sizing: border-box
	position: relative
	font-family: 'Tt', sans-serif
	min-height: 100vh

.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

.tatti_flex_center
	display: flex
	align-items: center
	justify-content: space-between

.tatti_flex_start
	display: flex
	align-items: flex-start
	justify-content: space-between

.tatti_content
	margin-top: 90px

.section_title
	font-family: 'TapTatti-Medium', sans-serif
	font-size: 30.8px
	line-height: 36px
	letter-spacing: -0.017em
	color: #5D2524
	position: relative
	display: table
	z-index: 1

	span
		content: ""
		position: absolute
		right: 0
		left: 0
		top: 22px
		z-index: -1
		display: block
		height: 8px
		background: #FCF18C
		border-radius: 8px

.product_section_title
	font-family: 'TapTatti-Medium', sans-serif
	font-size: 41.1404px
	line-height: 48px
	letter-spacing: -0.017em
	color: #5D2524
	position: relative
	display: table
	z-index: 1

	span
		content: ""
		position: absolute
		right: 0
		left: 0
		top: 30px
		z-index: -1
		display: block
		height: 8px
		background: #FCF18C
		border-radius: 8px

.fade-enter-active, .fade-leave-active
	transition: opacity .4s

.fade-enter, .fade-leave-to
	opacity: 0

@media (min-width: 576px)
	.container
		max-width: 540px

@media (min-width: 768px)
	.container
		max-width: 720px

@media (min-width: 992px)
	.container
		max-width: 960px

@media (min-width: 1200px)
	.container
		max-width: 1340px

.cart_count_buttons
	button
		width: 30px
		height: 30px
		border: none
		font-weight: 600
		font-size: 14px
		line-height: 19px
		letter-spacing: 0.03em
		color: #5D2524
		cursor: pointer
		background: #FFF2D3

		&:first-of-type
			border-radius: 4px 0px 0px 4px

		&:last-of-type
			border-radius: 0px 4px 4px 0px

	span
		display: block
		background: #FFFCF6
		width: 30px
		text-align: center
		height: 30px
		padding: 5px
		font-weight: 600
		font-size: 14px
		line-height: 19px
		letter-spacing: 0.03em
		color: #5D2524

.cart_confirm_order
	font-weight: bold
	font-size: 18px
	line-height: 25px
	letter-spacing: 0.045em
	padding: 13px 0
	width: 100%
	border-radius: 12px
	cursor: pointer
	color: #FFFFFF
	background: #792928
	text-align: center
	border: 2px solid #5D2524
	transition: .3s ease-in-out

	&:hover
		color: #792928
		background: #FFFFFF

.tatti_banner_btn
	font-weight: bold
	font-size: 18px
	color: #FFFFFF
	line-height: 25px
	letter-spacing: 0.045em
	background: transparent
	margin-top: 15px
	border-radius: 12px
	text-align: center
	padding: 15px 27px
	border: 2px solid #FCF18C
	cursor: pointer
	transition: .2s ease-in-out

	&:hover
		background: #FCF18C
		color: #5D2524

.modal__buttons
	margin: 30px 0

	.product_count_buttons
		button
			width: 40px
			height: 45px
			border: none
			font-weight: 600
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.03em
			color: #5D2524
			cursor: pointer
			background: #FFF2D3

			&:first-of-type
				border-radius: 10px 0px 0px 10px

			&:last-of-type
				border-radius: 0px 10px 10px 0px

		span
			display: block
			background: #FFFCF6
			width: 45px
			text-align: center
			height: 40px
			padding: 10px
			font-weight: 600
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.03em
			color: #5D2524

.product_buttons
	position: absolute
	bottom: 20px

	.product_count_buttons
		button
			width: 40px
			height: 45px
			border: none
			font-weight: 600
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.03em
			color: #5D2524
			cursor: pointer
			background: #FFF2D3

			&:first-of-type
				border-radius: 10px 0px 0px 10px

			&:last-of-type
				border-radius: 0px 10px 10px 0px

		span
			display: block
			background: #FFFCF6
			width: 45px
			text-align: center
			height: 40px
			padding: 10px
			font-weight: 600
			font-size: 14px
			line-height: 19px
			letter-spacing: 0.03em
			color: #5D2524

.contact_btn
	width: 100%
	cursor: pointer
	border: none
	padding: 13px
	text-align: center
	font-weight: bold
	font-size: 16px
	line-height: 22px
	background: #30B4D1
	border-radius: 12px
	text-align: center
	letter-spacing: 0.045em
	color: #FFFFFF
	transition: .2s ease-in-out
	margin: 20px 0

	&:hover
		background: #FFFFFF
		color: #5D2524

.btn_float
	position: fixed
	width: 53px
	height: 53px
	bottom: 40px
	right: 40px
	padding: 10px
	background-color: #70BF58
	z-index: 9999
	color: #fff
	box-shadow: 0px 6px 12px -6px rgba(42, 110, 132, 0.25)
	border-radius: 50px
	text-align: center

.close_modal
	position: absolute
	width: 50px
	height: 50px
	cursor: pointer
	top: -20px
	right: -20px
	text-align: center
	background-image: url(/assets/icons/close.svg)
	background-position: center

.modal_buttons__confirm button
	font-style: normal
	font-weight: 600
	font-size: 15px
	line-height: 21px
	letter-spacing: 0.03em
	border-radius: 10px

.btn_buy
	cursor: pointer
	color: #792928
	background: #FFFFFF
	text-align: center
	border: 2px solid #5D2524
	transition: .3s ease-in-out
	padding: 15px

	&:hover
		color: #FFFFFF
		background: #792928

.btn_add_to_cart
	cursor: pointer
	color: #FFFFFF
	background: #792928
	text-align: center
	border: 2px solid #5D2524
	transition: .3s ease-in-out
	padding: 15px 20px

	&:hover
		color: #792928
		background: #FFFFFF

.add_review_btn
	font-weight: bold
	font-size: 12px
	line-height: 18px
	border: none
	letter-spacing: 0.035em
	cursor: pointer
	background: #65D6DC
	border-radius: 7px
	padding: 4px 13px
	color: #FFFFFF
	transition: .3s ease-out

	&:hover
		transform: scale(0.95)

.btn_submit_review
	width: 100%
	cursor: pointer
	color: #FFFFFF
	background: #792928
	text-align: center
	border: 2px solid #5D2524
	transition: .3s ease-in-out
	padding: 15px 0
	font-weight: 600
	font-size: 15px
	line-height: 21px
	margin-top: 25px
	border-radius: 10px
	letter-spacing: 0.03em

	&:hover
		color: #792928
		background: #FFFFFF

.logo
	max-width: 208px

.nav_scroll
	background: #FCF18C
	box-shadow: 0px 5px 10px -6px rgba(25, 52, 61, 0.31)
	padding: 38px 0 0
	position: absolute
	transition: .5s ease-out
	z-index: -1
	right: 0
	left: 0
	top: 80px

	ul
		justify-content: start
		list-style: none
		padding: 0 20px

		li
			margin-right: 30px

			&:not(:first-child)::before
				content: "\2022"
				color: #4ABBC1
				font-weight: normal
				display: inline-block
				font-size: 10px
				margin-right: 30px

			a
				font-weight: normal
				font-size: 17px
				line-height: 23px
				letter-spacing: 0.06em
				text-decoration: none
				color: #5D2524
				transition: .3s ease-in-out

				&:hover
					color: #4ABBC1

.tatti_nav
	position: fixed
	right: 0
	left: 0
	top: 0
	z-index: 777
	background-repeat: repeat-x

.tatti_nav__top
	max-height: 94px
	background-image: url(/assets/icons/nav_bg.svg)

.tatti_nav__menu
	margin-top: 25px
	width: 100%
	margin-left: 50px

.tatti_nav__link
	list-style: none

	a
		text-decoration: none
		font-weight: 600
		font-size: 19px
		line-height: 26px
		letter-spacing: 0.045em
		color: #5D2524
		transition: .2s ease-in-out

		&:hover
			color: #4ABBC1

	&:not(:last-child)
		margin-right: 45px

.tatti_nav__select
	border: none
	cursor: pointer
	font-style: normal
	background: white
	font-weight: 600
	font-size: 15px
	line-height: 21px
	padding-right: 2px
	font-family: 'Tt', sans-serif
	letter-spacing: 0.03em
	color: #5D2524

.tatti_nav__lang
	margin-left: 18px
	margin-right: 25px

.nav_user_img
	width: 24px
	height: 25px
	transition: .2s ease-in-out
	background-image: url(/assets/icons/user.svg)

.nav_user
	background: #FCF18C
	border-radius: 10px
	padding: 2px 14px
	cursor: pointer
	color: #5D2524
	transition: .2s ease-in-out
	height: 45px

	&:hover
		background: #5D2524
		color: #FCF18C

		.nav_user_img
			background-image: url(/assets/icons/user_hover.svg)

.nav_user__bonuses
	font-weight: 500
	font-size: 11px
	line-height: 15px
	letter-spacing: 0.03em
	margin-left: 10px

	span
		display: block
		font-weight: 800
		font-size: 22px
		line-height: 30px
		letter-spacing: 0.05em

.nav_cart
	background-color: #5D2524
	background-image: url(/assets/icons/cart.svg)
	background-position: 40% 50%
	background-repeat: no-repeat
	border-radius: 10px
	position: relative
	height: 45px
	margin-left: 8px
	width: 45px
	cursor: pointer
	transition: .2s ease-in-out

.nav_cart__count
	position: absolute
	right: -6px
	top: -8px
	font-weight: 500
	font-size: 12px
	line-height: 17px
	text-align: center
	padding: 2px
	width: 20px
	height: 20px
	color: #FFFFFF
	background: #4ABBC1
	border-radius: 50%

.nav_cart:hover
	background-image: url(/assets/icons/cart-hover.svg)
	background-color: #FCF18C

.nav_tooltip
	position: relative

.nav_tooltip__content_user
	padding: 25px 17px
	width: 158px
	background-color: white
	filter: drop-shadow(0px 0px 6px rgba(92, 55, 0, 0.1))
	color: #fff
	text-align: center
	border-radius: 6px
	position: absolute
	z-index: 1
	top: 115%
	left: 50%
	margin-left: -50px

	&::after
		content: ""
		position: absolute
		bottom: 100%
		left: 20%
		margin-left: -5px
		border-width: 5px
		border-style: solid
		border-color: transparent transparent white transparent

.nav_tooltip__content_cart
	padding: 25px 0
	width: 290px
	background-color: white
	filter: drop-shadow(0px 0px 6px rgba(92, 55, 0, 0.1))
	color: #fff
	text-align: center
	border-radius: 6px
	position: absolute
	z-index: 1
	top: 115%
	left: 50%
	margin-left: -250px

	&::after
		content: ""
		position: absolute
		bottom: 100%
		right: 10%
		margin-left: -5px
		border-width: 5px
		border-style: solid
		border-color: transparent transparent white transparent

.nav_tooltip__content_cart_list
	list-style: none

.nav_user_menu
	list-style: none

	li
		text-align: left

		&:not(:last-child)
			margin-bottom: 13px

		img
			margin-right: 5px

		a
			font-weight: 600
			font-size: 15px
			line-height: 21px
			letter-spacing: 0.03em
			color: #5D2524
			text-decoration: none
			transition: .2s ease-in-out

			&:hover
				color: #4ABBC1

.cart_item
	padding: 0 25px 25px 25px
	border-bottom: 1px solid #F3F1ED

	&:not(:last-child)
		margin-bottom: 20px

	.cart_product
		position: relative

		.cart_product_img
			width: 60px
			height: 60px

		span
			position: absolute
			width: 26px
			height: 26px
			background: #9344C4
			right: -8px
			top: -5px
			border-radius: 7px

			img
				width: 100%

.cart_item__info
	text-align: left
	margin: 0 20px

	h5
		font-weight: bold
		font-size: 16px
		line-height: 24px
		letter-spacing: 0.035em
		color: #5D2524

	p
		font-weight: normal
		margin: 4px 0 0 0
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.035em
		color: #C2B1A8
		display: -webkit-box
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
		overflow: hidden

.cart_delete
	cursor: pointer
	width: 8px
	height: 8px

.cart_add_more
	margin-top: 25px

.cart_footer
	padding: 25px

.cart_price
	font-weight: 600
	font-size: 20px
	line-height: 28px
	letter-spacing: 0.03em
	color: #5D2524

.cart_delivery_status
	justify-content: start

	span
		font-weight: normal
		margin-left: 8px
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.035em
		color: #5D2524

.cart_delivery_status__price
	margin: 25px 0
	font-weight: normal
	font-size: 15px
	line-height: 24px
	letter-spacing: 0.035em
	color: #5D2524

	span
		font-weight: bold
		font-size: 25px
		line-height: 34px

.cart_bonuses
	font-weight: normal
	text-align: left
	font-size: 13px
	margin-top: 20px
	letter-spacing: 0.035em
	color: #C2B1A8

.cart_bonuses__count
	background: #5D2524
	border-radius: 4px
	color: #fff
	font-weight: bold
	padding: 2px 5px

.cart_bonuses__text
	color: #5D2524

footer
	background-image: url(/assets/images/footer_bg.png)
	background-repeat: no-repeat
	background-size: cover

	color: #FFFFFF
	left: 0
	padding: 50px 0

	h6
		font-weight: bold
		font-size: 19px
		line-height: 24px

		/* identical to box height, or 126%
		letter-spacing: 0.035em

		/* Yellow
		color: #FCF18C

.footer_links
	list-style: none
	margin-top: 17px

	li
		a
			text-decoration: none
			font-weight: normal
			transition: .2s ease-in-out
			font-size: 15px
			line-height: 24px

			/* identical to box height, or 160%
			letter-spacing: 0.03em
			color: #4ABBC1

			&:hover
				color: #FFFFFF

		&:not(:last-child)
			margin-bottom: 10px

.footer_payment
	margin-top: 20px

.footer_info
	margin-left: 14px

	span
		display: block
		font-weight: normal
		font-size: 13px
		line-height: 18px

		/* identical to box height, or 138%
		letter-spacing: 0.035em
		margin-top: 10px
		color: #FFFFFF

	p
		max-width: 200px
		font-style: normal
		font-weight: normal
		font-size: 13px
		line-height: 18px

		/* or 138%
		letter-spacing: 0.035em
		color: #8F7170

.footer_phone
	font-style: normal
	font-weight: 600
	font-size: 29px
	line-height: 24px

	/* identical to box height, or 83%
	letter-spacing: 0.045em
	text-decoration: none

	/* Yellow
	color: #FCF18C

.footer_bottom
	margin: 20px 0

.footer_social
	border: 2px solid #5D2524
	width: 60px
	height: 60px
	display: inline-block
	margin-right: 15px
	cursor: pointer
	background-repeat: no-repeat
	transition: .3s ease-out
	background-position: center
	border-radius: 50%

.footer_fb
	background-image: url(/assets/icons/social_media/fb.svg)

	&:hover
		background-image: url(/assets/icons/social_media/fb_hover.svg)

.footer_insta
	background-image: url(/assets/icons/social_media/insta.svg)

	&:hover
		background-image: url(/assets/icons/social_media/insta_hover.svg)

.footer_vk
	background-image: url(/assets/icons/social_media/vk.svg)

	&:hover
		background-image: url(/assets/icons/social_media/vk_hover.svg)

.footer_youtube
	background-image: url(/assets/icons/social_media/youtube.svg)

	&:hover
		background-image: url(/assets/icons/social_media/youtube_hover.svg)

.footer_telegram
	background-image: url(/assets/icons/social_media/telegram.svg)

	&:hover
		background-image: url(/assets/icons/social_media/telegram_hover.svg)

.footer_bottom_links a
	text-decoration: none
	margin-right: 40px
	font-weight: normal
	font-size: 13px
	line-height: 18px
	transition: .3s ease-out
	letter-spacing: 0.035em
	color: #009FA8

	&:hover
		color: #ffffff

.tatti_banner
	min-height: 90vh
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	display: flex !important
	align-items: center

.tatti_banner__info
	margin-left: 10%
	width: 45vw

.tatti_banner__heading
	font-family: 'TapTatti', sans-serif
	font-size: 62px
	line-height: 112%
	font-weight: normal
	letter-spacing: 0.02em
	color: #FFFFFF

.tatti_banner__text
	justify-content: start
	margin: 15px 0 30px 0

.tatti_banner__paragraph
	font-weight: normal
	font-size: 24px
	line-height: 150%
	margin-left: 25px
	letter-spacing: 0.03em
	color: #FFFFFF

.banner_bg1
	background-image: url(/assets/images/banner.png)

.banner_bg2
	background-image: url(/assets/images/banner1.png)

.banner_bg3
	background-image: url(/assets/images/banner2.png)

.slick-dots
	bottom: 10vh

	li button:before
		font-size: 12px
		line-height: 15px
		color: #FFFFFF !important

.slick-prev
	z-index: 77
	left: 2vw
	width: auto
	height: auto

.slick-next
	right: 2vw
	z-index: 77
	width: auto
	height: auto

.tatti_menu_section
	background: #EEFDFF
	position: relative
	margin-top: -35px
	padding-bottom: 50px

.menu_list
	position: absolute
	background: #FFFFFF
	box-shadow: 0px 12px 11px -11px rgba(0, 138, 182, 0.12)
	border-radius: 10px
	width: 1160px
	left: 50%
	top: -30px
	transform: translateX(-50%)
	padding: 40px 75px

.menu_box
	text-align: center
	font-weight: 600
	font-size: 20px
	text-decoration: none !important
	line-height: 28px
	letter-spacing: 0.03em
	color: #5D2524

	img
		display: block
		margin: 0 auto 20px auto

.menu_list_body
	padding-top: 220px

.menu_list_carousel
	margin: 15px 30px

.menu_list_item
	max-width: 395px
	margin: 0 auto
	justify-content: start
	align-items: flex-start
	background: #FFFFFF
	box-shadow: 0px 12px 11px -11px rgba(0, 138, 182, 0.12)
	border-radius: 10px
	padding: 8px

.menu_list_item__right
	padding: 25px 0 25px 20px
	position: relative
	height: 124px
	display: table

.menu_list_item__name
	display: flex
	align-items: flex-start
	font-weight: bold
	font-size: 17px
	line-height: 24px
	letter-spacing: 0.035em
	color: #5D2524

	img
		margin-left: 5px
		cursor: pointer
		margin-top: 2px

.menu_list_item__bottom
	position: absolute
	bottom: 0
	font-weight: 600
	font-size: 15px
	line-height: 21px
	padding: 8px 15px
	background: #FFF2D3
	border-radius: 10px
	text-align: center
	letter-spacing: 0.03em
	color: #5D2524
	display: table
	transition: .2s ease-in-out
	cursor: pointer

	&:hover
		background: #5D2524
		color: #FCF18C

.menu_list_item__price
	font-weight: 600
	font-size: 20px
	line-height: 28px
	text-align: center
	letter-spacing: 0.03em

.slick-prev-menu
	left: -15px

.slick-next-menu
	right: -15px

.slick-slide
	outline: none

.product_section
	margin-top: 30px
	display: flex
	flex-flow: wrap

.product_section__left
	width: 70%

.product_section__right
	width: 30%

.section_filters
	margin: 15px 0

	span
		font-weight: normal
		font-size: 15px
		line-height: 24px
		background: #FFFFFF
		box-shadow: 0px 1px 4px rgba(140, 124, 64, 0.17)
		border-radius: 10px
		text-align: center
		letter-spacing: 0.035em
		padding: 5px 12px
		color: #5D2524
		display: inline-block
		transition: .3s ease-in-out
		cursor: pointer
		margin: 0 10px 10px 0

		&:hover
			background: #FCF18C

.products_list
	display: flex
	flex-wrap: wrap

.product_box
	max-width: 290px
	padding: 20px 8px
	height: 345px
	position: relative
	transition: .2s ease-out
	cursor: pointer
	border-radius: 10px

	&:hover
		box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2)

.product_section_list
	margin-bottom: 45px

.product_head
	position: relative

	img
		width: 100%

.product_name
	cursor: pointer
	transition: .2s ease-out

	&:hover
		color: #4ABBC1

.product_body
	padding: 20px

.product_price
	margin-left: 8px
	padding: 8px 15px
	border: 2px solid #5D2524
	border-radius: 10px
	transition: .2s ease-out
	font-weight: 600
	font-size: 20px
	line-height: 28px
	letter-spacing: 0.03em
	color: #5D2524
	cursor: pointer

	&:hover
		color: #FFFFFF
		background: #5D2524

.section_sticky
	position: sticky
	margin: 0 auto
	max-width: 290px
	top: 190px

.product_cart
	background: #FFFFFF
	box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2)
	border-radius: 10px
	overflow: hidden

.product_cart__head
	background: #4ABBC1
	padding: 30px

.product_cart__body
	padding-top: 30px

.product_cart__name
	h4
		font-weight: bold
		font-size: 24px
		line-height: 24px
		letter-spacing: 0.04em
		color: #FFFFFF
		margin: 0 8px 0 12px

	span
		font-weight: bold
		font-size: 14px
		line-height: 15px
		border-radius: 50%
		background: #FFFFFF
		text-align: center
		vertical-align: middle
		padding: 7px 0
		letter-spacing: 0.02em
		width: 27px
		height: 27px
		color: #0086A4

.product_trash
	cursor: pointer

.product_filters
	position: absolute
	top: 0

	span
		font-size: 14px
		padding: 1px 10px
		border-radius: 7px
		line-height: 24px
		text-align: center
		letter-spacing: 0.035em
		color: #FFFFFF

	.hit
		background: #FF2E47

	.new
		background: #44A5FF

.modal
	display: block
	position: fixed
	z-index: 9999
	padding-top: 5vh
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: auto
	background: rgba(255, 255, 255, 0.9)

.modal-content
	background: #FFFFFF
	box-shadow: 0px 3px 20px -7px rgba(132, 92, 14, 0.3)
	border-radius: 10px
	max-width: 920px
	position: relative

.modal_product
	align-items: stretch

.modal_product__left
	padding: 30px 40px

.modal_product__right
	padding: 30px 40px
	background: #FFFCF3
	font-weight: normal
	font-size: 13px
	line-height: 18px
	letter-spacing: 0.035em
	color: #5D2524

.modal_product__name
	font-weight: bold
	font-size: 27px
	line-height: 33px
	letter-spacing: 0.035em
	color: #5D2524

.modal_product__desc
	margin: 20px 0

.modal_product__sostav
	font-weight: bold
	margin-right: 15px

.modal_product_img
	position: relative
	text-align: center

.modal_carousel .slick-current
	border: 2px solid #4ABBC1
	border-radius: 4px

.modal__buttons
	justify-content: space-between

.modal_product__price
	color: #5D2524
	text-align: right
	font-weight: 600
	font-size: 25px
	line-height: 34px
	letter-spacing: 0.03em

	span
		display: block
		font-weight: normal
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.035em

.modal_reviews
	margin-top: 35px

.modal_reviews__head
	h3
		font-weight: 600
		font-size: 18px
		line-height: 24px
		letter-spacing: 0.035em
		color: #4ABBC1

	span
		font-weight: bold
		font-size: 12px
		line-height: 18px
		background: #FFF2D3
		text-align: center
		letter-spacing: 0.035em
		border-radius: 50%
		text-align: center
		padding: 3px
		width: 24px
		height: 24px
		color: #5D2524
		margin: 0 10px

.stars
	--percent: calc(var(--rating) / 5 * 100%)
	display: inline-block
	font-size: 20px
	font-family: Times
	line-height: 1

	&::before
		content: '★★★★★'
		letter-spacing: 3px
		background: linear-gradient(90deg, #FFB800 var(--percent), #F3E2C8 var(--percent))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

.stars_small
	font-size: 11px

.modal_review
	margin-top: 20px

	h4
		font-weight: bold
		font-size: 12px
		line-height: 18px
		letter-spacing: 0.035em
		color: #5D2524

	p
		font-weight: normal
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.035em
		margin: 3px 0
		color: #5D2524

.modal_product__info_name
	font-weight: 600
	font-size: 18px
	line-height: 24px
	letter-spacing: 0.035em
	color: #4ABBC1

.modal_product__info_list
	list-style: none
	margin-top: 25px
	columns: 2

	li
		display: flex
		margin-bottom: 10px

		span
			width: 50%
			font-weight: 600
			display: inline-block
			font-size: 12px
			line-height: 18px

			/* identical to box height, or 150%
			letter-spacing: 0.035em

			/* Brown
			color: #5D2524

		.modal_product__item_name
			font-weight: normal
			font-size: 12px
			line-height: 18px

			/* identical to box height, or 150%
			letter-spacing: 0.035em
			color: #A89186

.modal_add_review
	justify-content: stretch

.modal_add_review__left
	width: 40%
	height: 675px
	background-image: url(/assets/images/modal_review.png)

.modal_add_review__right
	padding: 40px 75px
	width: 60%

.modal_add_review__name
	font-weight: bold
	font-size: 27px
	line-height: 33px
	letter-spacing: 0.035em
	color: #5D2524
	margin: 40px 0 30px 0

.go_back
	font-weight: 600
	font-size: 18px
	line-height: 24px
	letter-spacing: 0.035em
	justify-content: start
	color: #4ABBC1
	cursor: pointer

	img
		margin-right: 15px

.add_review_form
	input[type="text"], textarea
		background: #FFFAEE
		border-radius: 8px
		padding: 12px 17px
		width: 100%
		font-weight: normal
		font-size: 13px
		line-height: 18px
		font-family: 'Tt',sans-serif
		letter-spacing: 0.035em

		/* Brown
		color: #5D2524
		border: none

.modal_rating_stars
	margin: 23px 0
	position: relative
	height: 30px

fieldset, label
	margin: 0
	padding: 0

/****** Style Star Rating Widget ****

.rating
	border: none
	position: absolute

	>
	input
		display: none

		label:before
			margin: 5px
			font-size: 1.25em
			font-family: FontAwesome
			display: inline-block
			content: "\f005"

		.half:before
			content: "\f089"
			position: absolute

		label
			color: #ddd
			float: right

		input:checked ~ label
			color: #FFB800

	&:not(:checked) > label:hover
		color: #FFB800

		~ label
			color: #FFB800

	>
	input:checked
		+ label:hover, ~ label:hover
			color: #FFB800

		label:hover ~ input:checked ~ label, input:checked ~ label:hover ~ label
			color: #FFB800

/* hover previous stars in list

.rating_label
	position: absolute
	left: 40%
	font-weight: normal
	font-size: 12px
	line-height: 18px

	/* identical to box height, or 150%
	letter-spacing: 0.035em
	color: #A89186
	top: 5px

.modal_tq
	height: 675px
	text-align: center
	padding: 25px
	color: #5D2524

.modal_tq__body
	justify-content: center
	align-items: center
	display: flex
	height: 100%

.title_tq
	font-weight: bold
	font-size: 39.2727px
	line-height: 48px
	text-align: center
	letter-spacing: 0.025em
	margin: 25px 0

.desc_tq
	font-weight: 500
	font-size: 21px
	line-height: 24px
	text-align: center
	letter-spacing: 0.03em

.order_history
	margin-top: 25px
	overflow: hidden
	background: #FFFFFF
	box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2)
	border-radius: 10px

.order_history__head
	background: #4ABBC1
	padding: 30px

.order_history__name h4
	margin-left: 15px
	font-weight: bold
	font-size: 19px
	line-height: 24px

	/* identical to box height, or 126%
	letter-spacing: 0.04em

	/* White
	color: #FFFFFF

/*Maha

.pin
	transform: translateY(-3px)

.phone-top
	margin-left: auto
	align-items: center
	display: flex
	font-style: normal
	font-weight: 600
	font-size: 20px
	line-height: 24px
	letter-spacing: 0.05em
	color: #5D2524
	text-decoration: none
	&:hover
		text-decoration: none
		transition: .4s ease
		color: #4ABBC1
	p
		margin-left: 9px
	img
		transform: translateY(-7px)

.product_info
	display: none

.product_box:hover .product_info
	display: block

.desktop
	display: block
.mobile
	display: none
.menu_section__mobile
	background: #FFFFFF
	box-shadow: 0 12px 11px -11px rgba(0, 138, 182, 0.12)
	border-radius: 10px
	text-align: center
	padding: 0 60px 41px
	width: 90%
	z-index: 111111
	transform: translateY(-20px)
	img
		width: 40px
		margin: 42px auto 15px
	.menu_box
		font-size: 18px
		line-height: 1
.top-line
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 888
	background-image: url("../assets/icons/nav_bg.svg")
	background-color: #FCF18C
	.brand
		z-index: 999
		position: relative
		.brand-img
			margin: 0 auto
			max-width: 180px
			transform: translate(10px, 10px)
			img
				transform: scale(1.2)
	.main-menu
		position: fixed
		width: 100%
		height: 100%
		left: -100%
		top: 0
		background: #FFFFFF
		transition: .4s ease
		display: flex !important
		z-index: 888
		align-items: center
		justify-content: center
		text-align: center
		ul
			width: 100%
			display: block
			li
				display: block
				margin-bottom: 40px
				margin-right: 0
				font-weight: 600
				font-size: 22px
				line-height: 30px
				text-align: center
				letter-spacing: 0.025em
				a
					font-size: 22px
					color: #5D2524
					&:hover
						color: #4ABBC1
						text-decoration: none
					&::before
						bottom: -15px
				.btn
					border: 2px solid #5D2524
					box-sizing: border-box
					border-radius: 12px
					width: 80%
					padding: 15px 0 18px
					img
						transform: translateY(-3px)
						margin-right: 12px
				.btn-menu--trash
					background: #5D2524
					color: #FFFFFF
			.phone-top
				margin: 27px 0 46px 25px
				p
					transform: translateY(7px)
			.pin
				transform: translateY(-3px)
			.nav_tooltip
				width: 20%
				position: absolute
				right: 50px
				top: 13px
			.nav_user_img
				position: absolute
				left: 20px
				top: 10px
			.nav_user__bonuses
				position: absolute
				left: 40px
				top: 13px
			.nav_user
				width: 100px
			.nav_user__bonuses span
				line-height: 13px
			.nav_tooltip__content_user
				left: -36%
				.nav_user_menu
					a
						font-size: 16px
	.main-mnu-active
		left: 0 !important
		transition: .4s ease

	.hamburger-wrapper
		position: relative
		z-index: 999
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			background: #5D2524
			border-radius: 0

		.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before
			background: #5D2524

.ml-25
	margin-left: 25px
@import "media" // Всегда в конце
